NEXT_PUBLIC_SUPABASE_URL=https://apgrtbesvwwzqrgpfdwo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZ3J0YmVzdnd3enFyZ3BmZHdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MDk5NzYsImV4cCI6MjA5NTE4NTk3Nn0.fQdN2eeE4-ozKlBmOaSx8bcwMnrcVH7ucG-7gRo9x4E
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZ3J0YmVzdnd3enFyZ3BmZHdvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTYwOTk3NiwiZXhwIjoyMDk1MTg1OTc2fQ.iRgsyujMeZMhT3-gF3GJDFaHByub63gSMrBby_dSTPE
NEXT_PUBLIC_APP_URL=http://localhost:3000
